body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  align-items: center;
  height: 100vh;
}

.my-gallery {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
}
.my-gallery p{
  color: #fff;
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1000px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 16px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.image-container {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
  position: relative;
}

.image-container video {
  width: 460px;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.image-container img{
  width: 467px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
}
.image-container p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

/* Responsive Design */

@media (max-width: 768px) {
  .image-container {
    flex: 1 1 calc(50% - 16px); /* Mengatur agar ada 2 gambar per baris */
  }
}

@media (max-width: 480px) {
  .image-container {
    flex: 1 1 100%; /* Mengatur agar ada 1 gambar per baris */
  }
}
